@import "tailwindcss";

:root {
  --text: #FDFFE0;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --primary-color : #072821; 
  --secondary-color: #111B30;
  --button-color: #BA6300;
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;
}